<div>{{mainCtrl.toDone.toString()}}</div>

<style type="text/css" media="screen">
@keyframes this {
    0%   {
      background-color: red;
      left:{{mainCtrl.rNum[0]}}px;
      top:{{mainCtrl.rNum[1]}}px;
    }
    10%   {
      background-color: blue;
      left:{{mainCtrl.rNum[2]}}px;
      top:{{mainCtrl.rNum[3]}}px;
    }
    20%   {
      background-color: green;
      left:{{mainCtrl.rNum[4]}}px;
      top:{{mainCtrl.rNum[5]}}px;
    }
    30%   {
      background-color: orange;
      left:{{mainCtrl.rNum[6]}}px;
      top:{{mainCtrl.rNum[7]}}px;
    }
    40%   {
      background-color: magenta;
      left:{{mainCtrl.rNum[8]}}px;
      top:{{mainCtrl.rNum[9]}}px;
    }
    50%   {
      background-color: cyan;
      left:{{mainCtrl.rNum[10]}}px;
      top:{{mainCtrl.rNum[11]}}px;
    }
    60%   {
      background-color: lightgoldenrodyellow;
      left:{{mainCtrl.rNum[12]}}px;
      top:{{mainCtrl.rNum[13]}}px;
    }
    70%   {
      background-color: hotpink;
      left:{{mainCtrl.rNum[14]}}px;
      top:{{mainCtrl.rNum[15]}}px;
    }
    80%   {
      background-color: cadetblue;
      left:{{mainCtrl.rNum[16]}}px;
      top:{{mainCtrl.rNum[17]}}px;
    }
    90%   {
      background-color: chartreuse;
      left:{{mainCtrl.rNum[18]}}px;
      top:{{mainCtrl.rNum[19]}}px;
    }
    100%   {
      background-color: chocolate;
      left:{{mainCtrl.rNum[20]}}px;
      top:{{mainCtrl.rNum[21]}}px;
    }
}

.thisDiv {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: relative;
    animation-name: this;
    animation-duration: {{mainCtrl.delayTime}}s;
    animation-iteration-count: infinite;
    text-align: center;


}
</style><div class="thisDiv" ng-click = "mainCtrl.newDiv($index)">{{mainCtrl.todos[0]}}</div>
